<!-- app/views/questions/index.html.erb -->
<br>
<br>
<h1 class="custom-h1">質問ページ</h1>
<br>
<br>
<div id="question-container">
  <% current_question = Question.find(1) %>
  <p class="custom-p"><strong>質問:</strong> <%= current_question.body %></p>
</div>
<br>
<%= form_with(url: '/questions/get_next_question', method: 'post', local: true) do |form| %>
  <ul id="choices-container" class="horizontal-choices">
    <% choices = Choice.where(question_id: 1) %>
    <% choices.each do |choice| %>
      <li>
        <%= button_tag type: 'submit', name: 'choice_id', value: choice.id, class: 'choice-button' do %>
          <%= choice.body %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
<br>
<br>
<% if defined?(@next_question) %>
  <!-- 選択肢が選ばれた後に表示するコンテンツ -->
  <div id="next-question-container">
    <p class="custom-p"><strong>次の質問:</strong> <%= @next_question.body %></p>
    <br>
    <ul id="choices-container" class="horizontal-choices">
  <% @next_choices.each do |choice| %>
    <li>
      <%= form_with(url: documents_path, method: :post) do |form| %>
        <%= form.hidden_field :choice_id, value: choice.id %>
        <%= form.button type: 'submit', value: choice.id, class: 'choice-button' do %>
          <%= choice.body %>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>
  </div>
<% end %>