<style>
  /* 共通のボタンスタイル */
  .btn1 {
    display: inline-block;
    padding: 10px 20px; /* 上下左右の余白を調整 */
    font-size: 16px; /* フォントサイズを調整 */
    text-align: center;
    text-decoration: none;
    cursor: pointer;

    border: 2px solid;
    border-radius: 8px; /* 角丸にする */
    background-color: #FDFFAB; /* 成功の色、必要に応じて調整 */
    color: #000; /* テキストの色 */

    &:hover {
      background-color: #FFEB81; /* ホバー時の背景色、必要に応じて調整 */
    }
  }
</style>
<div class = "text-center">
  <br>
  <br>
  <h1><%= t('vocabulary_notes.new_title') %></h1>
  <br>
  <p><%= t('vocabulary_notes.new_create_1') %></p>
  <p><%= t('vocabulary_notes.new_create_2') %></p>
  <p><%= t('vocabulary_notes.new_create_3') %></p>
  <p><%= t('vocabulary_notes.new_create_4') %></p>
  <div class="text-center">
    <br>
    <br>
    <%= form_with(model: @vocabulary_note, url: vocabulary_notes_path) do |form| %>
      <%= form.label t('vocabulary_notes.title_label') %>
      <%= form.text_field :title %>
      <br>
      <br>
      <br>
      <%= form.label :description, t('vocabulary_notes.description_label') %>
      <%= form.text_area :description %>
      <br>
      <br>
      <br>
      <div class="btn-group" role="group" aria-label="ボタングループ">
        <%= form.submit t('vocabulary_notes.create_button'), class: "btn1", style: "margin-right: 15px;" %>
        <%= link_to t('vocabulary_notes.back_button'), vocabulary_notes_path, class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>