<br>
<br>
<h1>単語帳を作成しよう！</h1>
<div class="text-center">
<%= form_with(model: @vocabulary_note, url: vocabulary_notes_path) do |form| %>
  <%= form.label :タイトル %>
  <%= form.text_field :title %>
  <br>
  <br>
  <br>

  <%= form.label :内容 %>
  <%= form.text_area :description %>
  <br>
<br>
<br>

  <%= form.submit '作成', class: "btn btn-success" %>
<% end %>
<br>
<br>
<br>

<%= link_to '戻る', vocabulary_notes_path, class: "btn btn-primary" %>
</div>