<br>
<br>
<h1><%= t('vocabulary_notes.new_title') %></h1>
<div class="text-center">
<%= form_with(model: @vocabulary_note, url: vocabulary_notes_path) do |form| %>
  <%= form.label t('vocabulary_notes.title_label') %>
  <%= form.text_field :title %>
  <br>
  <br>
  <br>

  <%= form.label :description, t('vocabulary_notes.description_label') %>
  <%= form.text_area :description %>
  <br>
<br>
<br>

  <%= form.submit t('vocabulary_notes.create_button'), class: "btn btn-success" %>
<% end %>
<br>
<br>
<br>

<%= link_to t('vocabulary_notes.back_button'), vocabulary_notes_path, class: "btn btn-primary" %>
</div>