<style>
  /* 共通のボタンスタイル */
  .btn1 {
    display: inline-block;
    padding: 10px 20px; /* 上下左右の余白を調整 */
    font-size: 16px; /* フォントサイズを調整 */
    text-align: center;
    text-decoration: none;
    cursor: pointer;

    border: 2px solid;
    border-radius: 8px; /* 角丸にする */
    background-color: #FF8080; /* 成功の色、必要に応じて調整 */
    color: #000; /* テキストの色 */

    &:hover {
      background-color: #FFA080; /* ホバー時の背景色、必要に応じて調整 */
    }
  }
</style>
<div class = "text-center">
<br>
<h1><%= @vocabulary_note.title %></h1>
<br>
<p><%= @vocabulary_note.description %></p>
<br>
<h2><%= t('vocabulary_notes.word_collection_title') %></h2>
<br>
<div class="container">
  <div class="row">
    <% @vocabulary_entries.each do |entry| %>
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title"><%= entry.word %></h5>
            <p class="card-text meaning-display" style="display:none;"><%= entry.meaning %></p>
            <button class="btn toggle-meaning-btn" onclick="toggleMeaning(this)"><%= t('vocabulary_notes.meaning_label') %></button>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<br>
<br>
<div class="btn-group" role="group" aria-label="ボタングループ">
<%= link_to t('vocabulary_notes.create_word_button'), new_vocabulary_note_vocabulary_entry_path(@vocabulary_note), class: "btn1" %>
<%= link_to vocabulary_notes_path, class: "btn btn-primary", style: "margin-left: 15px;" do %>
  <%= t('vocabulary_notes.back_button') %>
<% end %>
</div>
</div>
<script>
  function toggleMeaning(button) {
    var cardBody = button.parentNode;
    var meaningDisplay = cardBody.querySelector('.meaning-display');
    if (meaningDisplay.style.display === 'none') {
      meaningDisplay.style.display = 'block';
    } else {
      meaningDisplay.style.display = 'none';
    }
  }
</script>