<br>
<h1><%= @vocabulary_note.title %></h1>
<br>
<p><%= @vocabulary_note.description %></p>
<br>
<h2><%= t('vocabulary_notes.word_collection_title') %></h2>
<br>
<div class="container">
  <div class="row">
    <% @vocabulary_entries.each do |entry| %>
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title"><%= entry.word %></h5>
            <p class="card-text meaning-display" style="display:none;"><%= entry.meaning %></p>
            <button class="btn toggle-meaning-btn" onclick="toggleMeaning(this)"><%= t('vocabulary_notes.meaning_label') %></button>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<br>
<br>
<%= link_to t('vocabulary_notes.back_button'), vocabulary_notes_path, class: "btn btn-success" %>

<%= link_to t('vocabulary_notes.create_word_button'), new_vocabulary_note_vocabulary_entry_path(@vocabulary_note), class: "btn btn-primary" %>

<script>
  function toggleMeaning(button) {
    var cardBody = button.parentNode;
    var meaningDisplay = cardBody.querySelector('.meaning-display');
    if (meaningDisplay.style.display === 'none') {
      meaningDisplay.style.display = 'block';
    } else {
      meaningDisplay.style.display = 'none';
    }
  }
</script>