<h1>介護福祉士になるために！</h1>
<br>
<br>
<p>計画を立てて少しずつ学習を行おう！</p>
<br>
<p>大切な日程をカレンダーに追加しよう！（試験日や提出書類期限等）</p>
<h1>Calendars</h1>

<h2>Calendar List</h2>
<ul>
  <% @calendars.items.each do |calendar| %>
    <li><%= calendar.summary %></li>
  <% end %>
</ul>

<h2>Events</h2>
<ul>
  <% @events.items.each do |event| %>
    <li>
      <strong>Title:</strong> <%= event.summary %><br>
      <strong>Description:</strong> <%= event.description %><br>
      <strong>Start Time:</strong> <%= event.start.date_time %><br>
      <strong>End Time:</strong> <%= event.end.date_time %>
    </li>
  <% end %>
</ul>