<nav class="navbar navbar-expand-lg navbar-light" style="background-color: lightblue;">
    <a class="navbar-brand text-dark" href="#">Caregiver_Road</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-nav">
        <% if user_signed_in? %>
            <a class="nav-link text-dark" href="<%= users_sign_out_path %>">ログアウト</a>
            <a class="nav-link text-dark" href="<%= root_path %>">トップページ</a>
            <a class="nav-link text-dark" href="<%= events_path %>"> <%= t('homes.roadmap_link') %></a>
            <a class="nav-link text-dark" href="<%= grants_path %>"> <%= t('homes.grants_link') %></a>
            <a class="nav-link text-dark" href="<%= documents_path %>"> <%= t('homes.documents_link') %></a>
            <a class="nav-link text-dark" href="<%= past_exams_path %>"> <%= t('homes.past_exams_link') %></a>
            <a class="nav-link text-dark" href="<%= vocabulary_notes_path %>"> <%= t('homes.vocabulary_notes_link') %></a>
        <% else %>
            <a class="nav-link text-dark" href="<%= new_user_registration_path %>">新規登録</a>
            <a class="nav-link text-dark" href="<%= new_user_session_path %>">ログイン</a>
        <% end %>
    </div>
</nav>