<style>
  /* 共通のボタンスタイル */
  .btn {
    display: inline-block;
    padding: 10px 20px; /* 上下左右の余白を調整 */
    font-size: 16px; /* フォントサイズを調整 */
    text-align: center;
    text-decoration: none;
    cursor: pointer;

    border: 2px solid;
    border-radius: 8px; /* 角丸にする */
    background-color: #FDFFAB; /* 成功の色、必要に応じて調整 */
    color: #000; /* テキストの色 */

    &:hover {
      background-color: #FFEB81; /* ホバー時の背景色、必要に応じて調整 */
    }
  }
</style>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="text-center">
        <h2><%= t('welcome.index_title') %></h1>
        <br>
        <br>
        <p class="text-1xl mb-1">試験受ける為の書類は分かっていますか？</p>
        <p class="text-1xl mb-1">いつから勉強をするつもりですか？</p>
        <p class="text-1xl mb-4">このサービスは介護福祉士になる為に必要なサポートします。</p>
        <p class="mb-4 text-2xl sm:text-1xl">早速やってみましょう。</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="text-center mt-5">
        <%= image_tag "top_images.png", size: "900x800", class: "img-fluid rounded-lg" %>
      <div>
    </div>
  </div>
</div>


<br>
<div class="min-h-screen flex flex-col justify-center items-center">
  <div class="container mx-auto px-10">
    <hr class="my-24 border-t-2 border-black">
    <section>
      <div class="grid grid-cols-1 gap-4">
        <h2 class="text-2xl md:text-3xl mb-16 text-center">《 Caregiver_Roadの使い方 》</h2>
        <div class="bg-yellow-200 p-6 rounded-lg shadow-xl mx-3 mb-10 py-10 text-center" style="background-color: #FFCF81;">
          <h1 class="text-xl md:text-2xl text-center">【 必要書類の見つけよう 】</h1>
          <%= image_tag "top_page1.png", size: "500x200", class: "img-fluid rounded-lg" %>
          <div class="text-center text-sm md:text-lg">
            <p class="mb-5">新規登録後に質問に答えてね</p>
            <p>答えることで自分が提出する書類を見つける事ができるよ</p>
          </div>
        </div>
        <div class="bg-yellow-200 p-6 rounded-lg shadow-xl mx-3 mb-10 py-10 text-center" style="background-color: #FFCF81;">
          <h1 class="text-xl md:text-2xl text-center">【 イベントを作成しよう 】</h1>
          <%= image_tag "top_page2.png", size: "500x200", class:"img-fluid rounded-lg" %>
          <div class="text-center text-sm md:text-lg">
            <p class="mb-5">まずは、イベント画面でイベントを設定しよう</p>
            <p>top画面から通知を受け取ることができるよ！</p>
          </div>
        </div>
        <div class="bg-yellow-200 p-6 rounded-lg shadow-xl mx-3 mb-10 py-10 text-center" style="background-color: #FFCF81;">
          <h1 class="text-xl md:text-2xl text-center">【 補助金を調べよう 】</h1>
          <%= image_tag "top_page3.png", size: "500x200", class:"img-fluid rounded-lg" %>
          <div class="text-center text-sm md:text-lg">
            <p class="mb-5">補助金ページで自分に当てはまるカテゴーを検索する</p>
            <p>検索できたら登録されている補助金が出る為、それを調べてみよう！</p>
          </div>
        </div>
        <div class="bg-yellow-200 p-6 rounded-lg shadow-xl mx-3 mb-10 py-10 text-center" style="background-color: #FFCF81;">
          <h1 class="text-xl md:text-2xl text-center">【 過去問で力を！ 】</h1>
          <%= image_tag "top_page4.png", size: "500x200", class:"img-fluid rounded-lg" %>
          <div class="text-center text-sm md:text-lg">
            <p class="mb-5">過去の問題に挑戦しよう！</p>
            <p>挑戦後、間違った問題だけを再挑戦して苦手を見つけて、克服していこう</p>
          </div>
        </div>
        <div class="bg-yellow-200 p-6 rounded-lg shadow-xl mx-3 mb-10 py-10 text-center" style="background-color: #FFCF81;">
          <h1 class="text-xl md:text-2xl text-center">【 単語帳を作成しよう 】</h1>
          <%= image_tag "top_page5.png", size: "500x200", class:"img-fluid rounded-lg" %>
          <div class="text-center">
            <p class="mb-10 text-xl md:text-2xl">単語帳にテーマごとに単語を登録しよう</p>
            <p class="text-sm md:text-lg">何度も繰り返すことで記憶できるようにしていこう！</p>
          </div>
        </div>
      </div>
    </section>
    <div style="text-align: center;">
      <%= link_to t('welcome.get_started_button'), new_user_registration_path, class: 'btn'%>
    </div>
    </hr>
  </div>
</div>