<!-- app/views/events/_form.html.erb -->

<h2>新しいイベントを追加</h2>

<%= form_with(model: @event, url: events_path, local: true) do |form| %>
  <div>
    <%= form.label :title, t('events.form.title_label') %>
    <%= form.text_field :title %>
  </div>
  <br>
  <div>
    <%= form.label :start_datetime, t('events.form.start_datetime_label') %>
    <%= form.datetime_local_field :start_datetime %>
  </div>
  <br>
  <div>
    <%= form.submit t('events.form.submit_button'), class: "btn btn-success" %>
  </div>
<% end %>
