<style>
  /* 共通のボタンスタイル */
  .btn {
    background-color: #FFCF81; /* 成功の色、必要に応じて調整 */
    color: #000; /* テキストの色 */
    font-size: 22px;
    padding: 10px;

    &:hover {
      background-color: #FFEB81; /* ホバー時の背景色、必要に応じて調整 */
    }
  }
</style>
<div class="text-center" style="margin-top: 15px;">
<br>
<br>
<h1><%= t('documents.index_title') %></h1>
<br>
<br>
<% if @documents.any? %>
  <ul class="large-text-list" style="list-style: none;">
    <% @documents.each do |document| %>
      <li><%= document.document_name %> (選択肢: <%= document.choice.body %>)</li>
    <% end %>
  </ul>
<% else %>
  <p><%= t('documents.no_documents_message') %></p>
<% end %>
<br>
<br>
<% if defined? @choice && @choice.to_i == 5 %>
  <%= link_to t('documents.calculation_link'), "https://www.sssc.or.jp/kaigo/shikaku/k_08_1.html", target: "_blank", class: "btn", onclick: "return confirm('外部サイトに移動します。よろしいですか？');" %>
<% end %>
</div>
