<h1>Create New Vocabulary Entry</h1>

<%= form_with(model: [@vocabulary_note, @vocabulary_entry], url: vocabulary_note_vocabulary_entries_path(@vocabulary_note)) do |form| %>
  <%= form.label :word %>
  <%= form.text_field :word %>

  <%= form.label :meaning %>
  <%= form.text_field :meaning %>

  <%= form.submit 'Create Vocabulary Entry' %>
<% end %>

<%= link_to 'Back to Vocabulary Note', vocabulary_note_path(@vocabulary_note) %>
