<style>
  /* 共通のボタンスタイル */
  .btn {
    display: inline-block;
    padding: 10px 20px; /* 上下左右の余白を調整 */
    font-size: 16px; /* フォントサイズを調整 */
    text-align: center;
    text-decoration: none;
    cursor: pointer;

    border: 2px solid;
    border-radius: 8px; /* 角丸にする */
    background-color: #FDFFAB; /* 成功の色、必要に応じて調整 */
    color: #000; /* テキストの色 */

    &:hover {
      background-color: #FFEB81; /* ホバー時の背景色、必要に応じて調整 */
    }
  }
  </style>
<div class=past_index>
  <h1><%= t('past_exams.index_title') %></h1>
  

  <!-- 説明文 -->
  <p><%= t('past_exams.description') %></p>

  <!-- 過去のスコア表示 -->
  <h2 class="custom-h2"><%= t('past_exams.history_title') %></h2>
  <% if user_signed_in? %>
    <p><%= t('past_exams.last_result') %>  <%= @user_past_score %></p>
  <% end %>
  <!-- 再挑戦リンク -->
  <%= link_to '不正解一覧', retry_incorrect_answers_past_exam_path(@past_exams), class: 'btn' %>

  <%= link_to 'スタート', past_exam_path(@past_exam), class: 'btn_09', id: 'start-button' %>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    // スタートボタンがクリックされたときの処理
    document.getElementById('start-button').addEventListener('click', function() {
      // リセット処理を行うAjaxリクエスト
      fetch('<%= reset_score_user_path(current_user) %>', {
        method: 'POST',
        headers: {
          'X-CSRF-Token': '<%= form_authenticity_token %>',
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        }
      })
      .then(response => response.json())
      .then(data => {
        if (data.success) {
          // リセットが成功したらアラートを表示
          alert('始めるよ！');
        } else {
          // リセットが失敗したらエラーアラートを表示
          alert('スコアのリセットに失敗しました');
        }
      })
      .catch(error => {
        console.error('Error:', error);
      });
    });
  });
</script>