<!-- app/views/past_exams/retry_incorrect_answers.html.erb -->
<style>
  /* 共通のボタンスタイル */
  .btn {
    display: inline-block;
    padding: 10px 20px; /* 上下左右の余白を調整 */
    font-size: 16px; /* フォントサイズを調整 */
    text-align: center;
    text-decoration: none;
    cursor: pointer;

    border: 2px solid;
    border-radius: 8px; /* 角丸にする */
    background-color: #FF8080; /* 成功の色、必要に応じて調整 */
    color: #000; /* テキストの色 */

    &:hover {
      background-color: #FFA080; /* ホバー時の背景色、必要に応じて調整 */
    }
  }
  .custom-card {
    background-color: #F6FDC3;
  }
  </style>
<div class = "text-center" style="margin-top: 15px;">
<div class="retry-container">
  <h1><%= t('past_exams.retry_title') %></h1>

  <% displayed_ids = Set.new %>
  <% if @incorrect_attempts.present? %>
  <div class="row">
  <% @incorrect_attempts.each do |attempt| %>
    <div class="col-md-4 mb-4">
      <div class="card custom-card">
        <div class="card-body">
          <p>ID: <%= attempt.past_exam.id %></p>
          <p>Category: <%= attempt.past_exam.exam_category %></p>
          <%= link_to t('past_exams.retry_button'), retry_selected_past_exam_path(attempt.past_exam), class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  <% end %>
</div>


    <div class="d-flex justify-content-center mt-4">
      <%= paginate @incorrect_attempts %>
    </div>
  <% else %>
    <p><%= t('past_exams.no_incorrect_attempts') %></p>
  <% end %>
</div>
</div>
