<!-- app/views/past_exams/retry_incorrect_answers.html.erb -->
<div class="retry-container">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key == :notice ? 'success' : 'danger' %>">
      <%= value %>
    </div>
  <% end %>
  <h1><%= t('past_exams.retry_title') %></h1>

  <% displayed_ids = Set.new %>
  <% if @incorrect_attempts.present? %>
    <div class="row">
      <% @incorrect_attempts.each do |attempt| %>
        <div class="col-md-4 mb-4">
          <div class="retry-item">
            <p>ID: <%= attempt.past_exam.id %></p>
            <p>Category: <%= attempt.past_exam.exam_category %></p>
            <%= link_to t('past_exams.retry_button'), retry_selected_past_exam_path(attempt.past_exam), class: 'btn btn-primary' %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="d-flex justify-content-center mt-4">
      <%= paginate @incorrect_attempts %>
    </div>
  <% else %>
    <p><%= t('past_exams.no_incorrect_attempts') %></p>
  <% end %>
</div>
