<!-- app/views/past_exams/retry_incorrect_answers.html.erb -->
<div class="retry-container">
  <h1><%= t('past_exams.retry_title') %></h1>

  <% displayed_ids = Set.new %>
  <% if @incorrect_attempts.present? %>
    <ul>
      <% @incorrect_attempts.each do |attempt| %>
        <% unless displayed_ids.include?(attempt.past_exam.id) %>
          <li>
            <p>ID: <%= attempt.past_exam.id %></p>
            <p>Category: <%= attempt.past_exam.exam_category %></p>
            <%= link_to t('past_exams.retry_button'), retry_selected_past_exam_path(attempt.past_exam), class: 'btn btn-primary' %>
          </li>
          <% displayed_ids.add(attempt.past_exam.id) %>
        <% end %>
      <% end %>
    </ul>
  <% else %>
    <p><%= t('past_exams.no_incorrect_attempts') %></p>
  <% end %>
</div>

