<style>
  /* 共通のボタンスタイル */
  .btn {
    display: inline-block;
    padding: 10px 20px; /* 上下左右の余白を調整 */
    font-size: 16px; /* フォントサイズを調整 */
    text-align: center;
    text-decoration: none;
    cursor: pointer;

    border: 2px solid;
    border-radius: 8px; /* 角丸にする */
    background-color: #FDFFAB; /* 成功の色、必要に応じて調整 */
    color: #000; /* テキストの色 */

    &:hover {
      background-color: #FFEB81; /* ホバー時の背景色、必要に応じて調整 */
    }
  }
  </style>
<div class="exam-container">
  <h1 id="exam-text"><%= @past_exam.exam_text %></h1>
  <h1>Question <%= @question_count %>/20</h1>

  <!-- 選択肢表示 -->
  <%= form_with(model: @past_exam, url: answer_past_exam_path(@past_exam), method: 'post') do |form| %>
    <ul class="custom-list">
      <li class="text-customGreen5 bg-customGreen6 border-2 border-customGreen2 rounded-3xl drop-shadow-lg hover:bg-white hover:drop-shadow-lg">
        <%= form.label :selected_option_a do %>
          <%= form.radio_button :selected_option, 'a', class: 'hidden' %>
          <%= @past_exam.option_a %>
        <% end %>
      </li>
      <li class="text-customGreen5 bg-customGreen6 border-2 border-customGreen2 rounded-3xl drop-shadow-lg hover:bg-white hover:drop-shadow-lg">
        <%= form.label :selected_option_b do %>
          <%= form.radio_button :selected_option, 'b', class: 'hidden' %>
          <%= @past_exam.option_b %>
        <% end %>
      </li>
      <li class="text-customGreen5 bg-customGreen6 border-2 border-customGreen2 rounded-3xl drop-shadow-lg hover:bg-white hover:drop-shadow-lg">
        <%= form.label :selected_option_c do %>
          <%= form.radio_button :selected_option, 'c', class: 'hidden' %>
          <%= @past_exam.option_c %>
        <% end %>
      </li>
      <li class="text-customGreen5 bg-customGreen6 border-2 border-customGreen2 rounded-3xl drop-shadow-lg hover:bg-white hover:drop-shadow-lg">
        <%= form.label :selected_option_d do %>
          <%= form.radio_button :selected_option, 'd', class: 'hidden' %>
          <%= @past_exam.option_d %>
        <% end %>
      </li>
      <li class="text-customGreen5 bg-customGreen6 border-2 border-customGreen2 rounded-3xl drop-shadow-lg hover:bg-white hover:drop-shadow-lg">
        <%= form.label :selected_option_e do %>
          <%= form.radio_button :selected_option, 'e', class: 'hidden' %>
          <%= @past_exam.option_e %>
        <% end %>
      </li>
    </ul>
    <!-- 回答ボタン -->
    <%= form.submit t('past_exams.answer_button'), onclick: 'submitAnswer()', class: "btn" %>
  <% end %>
</div>
