<div class="exam-container">
  <h1 id="exam-text"><%= @past_exam.exam_text %></h1>
  <h1>Question <%= @question_count %>/20</h1>

  <!-- 選択肢表示 -->
  <%= form_with(model: @past_exam, url: answer_past_exam_path(@past_exam), method: 'post') do |form| %>
    <ul class="custom-list">
      <li><%= form.radio_button :selected_option, 'a' %> <%= @past_exam.option_a %></li>
      <li><%= form.radio_button :selected_option, 'b' %> <%= @past_exam.option_b %></li>
      <li><%= form.radio_button :selected_option, 'c' %> <%= @past_exam.option_c %></li>
      <li><%= form.radio_button :selected_option, 'd' %> <%= @past_exam.option_d %></li>
      <li><%= form.radio_button :selected_option, 'e' %> <%= @past_exam.option_e %></li>
    </ul>

    <!-- 回答ボタン -->
    <%= form.submit t('past_exams.answer_button'), onclick: 'submitAnswer()', class: "btn btn-success" %>
  <% end %>
</div>
<script>
  function submitAnswer() {
    var selectedOption = document.querySelector('input[name="selected_option"]:checked');
    // 非同期通信
    var formData = new FormData(document.getElementById('attempt-form'));

    fetch('<%= answer_past_exam_path(@past_exam) %>', {
      method: 'POST',
      body: formData,
      headers: {
        'X-CSRF-Token': '<%= form_authenticity_token %>',
        'Accept': 'application/json',
        'Content-Type': 'application/json'
      }
    })
    .then(response => response.json())
    .then(data => {
      if (data.success) {
        if (data.next_exam_id) {
          // 次の問題がある場合は、次の問題へ遷移
          window.location.href = '<%= past_exam_path(@past_exam) %>' + '/' + data.next_exam_id;
        } else if (data.result_path) {
          // 次の問題がない場合は、結果ページへ遷移
          window.location.href = '<%= result_past_exam_path(@past_exam) %>';
        }
      }
    })
    .catch(error => {
      console.error('Error:', error);
    });
  }
</script>