<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>補助金検索ページ</title>
  <style>
  /* 共通のボタンスタイル */
  .btn {
    background-color: #FDFFAB; /* 成功の色、必要に応じて調整 */
    color: #000; /* テキストの色 */

    &:hover {
      background-color: #FFEB81; /* ホバー時の背景色、必要に応じて調整 */
    }
  }
</style>
</head>
<div class="text-center" style="margin-top: 15px;">
  <br>
  <br>
  <h1><%= t('grants.search_page_title') %></h1>
  <br>
  <p><%= t('grants.search_page_description') %></p>
  <br>
  <form id="searchForm" action="<%= grants_path %>" method="get">
    <label for="keyword"><%= t('grants.search_form_label') %>:</label>
    <input type="text" id="keyword" name="keyword">
    <button type="submit" class="btn"s><%= t('grants.search_button') %></button>
  </form>

  <% if @grants %>
  <div id="searchResults">
    <h2><%= t('grants.search_results_title') %>:</h2>
    <% @grants.each do |grant| %>
      <p><%= grant['title'] %></p>
    <% end %>
    <div class="pagination-container">
      <%= paginate @grants if @count > 8 %>
    </div>
  </div>
<% else %>
  <p>検索バーに地名や単語を入れると検索できるよ</p>
  <p>試しに自分の都道府県を調べてみよう</p>

<% end %>
</div>

