<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>補助金検索ページ</title>
  <style>
  /* 共通のボタンスタイル */
  .btn {
    background-color: #FF8080; /* 成功の色、必要に応じて調整 */
    color: #000; /* テキストの色 */

    &:hover {
      background-color: #FFA08; /* ホバー時の背景色、必要に応じて調整 */
    }
  }
</style>
</head>
<div class="text-center" style="margin-top: 15px;">
  <br>
  <h1><%= t('grants.search_page_title') %></h1>
  <br>
  <p><%= t('grants.search_page_description') %></p>
  <form id="searchForm" action="<%= grants_path %>" method="get">
    <div class="col-md-6 offset-md-3">
      <input type="text" id="keyword" name="keyword" class="form-control">
      <button type="submit" class="btn"><%= t('grants.search_button') %></button>
    </div>
  </form>
  <br>

  <% if @grants %>
  <div id="searchResults">
    <h2><%= t('grants.search_results_title') %>:</h2>
    <ul class="list-group">
      <% @grants.each do |grant| %>
        <li class="list-group-item"><%= grant['title'] %></li>
      <% end %>
    </ul>
    <div class="pagination-container">
      <%= paginate @grants if @count > 8 %>
    </div>
  </div>
<% else %>
  <p>検索バーに地名や単語を入れると検索できるよ</p>
  <p>試しに自分の都道府県を調べてみよう</p>
<% end %>
</div>

