<!DOCTYPE html>
<html>
  <head>
    <title><%= t('layouts.application.title') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_import_module_tag 'controllers/application' %>
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
        <li>
          <%= link_to t('layouts.application.logout'), users_sign_out_path, method: :delete, style: 'color: white;', class: 'link' %>
        </li>
        <li>
          <%= link_to t('layouts.application.top_page'), root_path, style: 'color: white;', class: 'link' %>
        </li>
      <% else %>
        <li>
          <%= link_to t('layouts.application.sign_up'), new_user_registration_path, style: 'color: white;', class: 'link' %>
        </li>
        <li>
          <%= link_to t('layouts.application.log_in'), new_user_session_path, style: 'color: white;', class: 'link' %>
        </li>
      <% end %>
      </header>
    <%= yield %>
  </body>
</html>
